	*{
		margin:0px;
		padding:0px;
	}
	body{
		background:#eee;
	}
	a{
		text-decoration:none;
	}
	input[type="text"],#btn1,#btn2{
	  box-sizing: border-box;
	  font-size:15px;
	  height:43px;
	  width:200px;
	  border-radius:4px;
	  border:1px solid #c8cccf;
	  color:#6a6f77;
	  -web-kit-appearance:none;
	  -moz-appearance: none;
	  display:block;
	  outline:0;
	  padding:0 11px;
	  text-decoration:none;
	}
	input[type="text"]:focus{
	  border:1px solid #88D1F1;
	}
	p{
		margin-top:20px;
		margin-bottom:10px;
	}
	.clearfix {zoom:1;}
	.clearfix:after {
    clear:both;
    content:'';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
	}
/**/
	.hide{
		display:none;
	}
	.information{
		background:#fff;
		font-family: "微软雅黑";
		width:800px;
		margin:72px auto;
		padding:10px;
	}
	.ifm-content{
		background:#fff;
		width:800px;
		height:100%;
	}
	.sendKind{
		height:100px;
		width:100%;
	}
	.sendKind li{
		display:block;
		float:left;
		width:100px;
		height:60px;
		background:#fff;
		text-align:center;
		line-height:60px;
		border:1px solid #eee;
		margin-left:30px;
		cursor:pointer;
		border-radius:4px;
	}
	.sendKind li:hover{
		background:#eee;
	}
	.sendAdress{
		background:#f3f3f3;
		border:1px solid #eee;
		padding:8px;
		width:600px;
		height:260px;
	}
	.sendAdress .adress{
		width:160px;
		height:40px;
		border:1px solid #ccc;
		border-radius:4px;
		background:#fff;
		padding-left:10px;
		font:13px/40px "微软雅黑";
		position:relative;
	}
	.selectAdress{
		cursor:pointer;
	}
	.sendAdress .adress span{
		position:absolute;
		top:0px;
		right:0px;
	}
	/*.sendAdress .adress span#sAddress{
		left:10px;
		top:0px;
	}*/
	.sendAdress .adress span.down:after{
		content: '';
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-top: 7px solid #333;
	    position:absolute;
	    top:18px;
	    right:2px;
	}
	.sendAdress .adress span.up:after{
		content: '';
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-bottom: 7px solid #333;
	    position:absolute;
	    top:18px;
	    right:2px;
	}
	.sendAdress .adress .select-area{
		width:480px;
		height:230px;
		background:#fff;
		overflow-y:scroll;
		border:1px solid #ccc;
		position:absolute;
		left:0px;
	}
	.area-top{
		width:100%;
		height:45px;
		background:#ccc;
	}
	.area-top ul li.none{
		visibility: hidden;
	}
	.area-top ul .active{
		display:block;
		float:left;
		width:125px;
		height:45px;
		text-align: center;
		line-height: 45px;	
		background:#fff;
		border-right:1px solid #aaa;
		cursor: pointer;
	}
	.area-top ul li.selected{
		background:#ccc;
	}
	.area-content ul li{
		display:block;
		float:left;
		width:100px;
		height:40px;
		text-align:center;
		line-height:40px;
		cursor: pointer;
	}
	.area-content ul li:hover{
		background:#eee;
	}
	input.detialsAdress{
		margin-top:35px;
		width:327px;
	}
	.sendTime{
		width:180px;
		height:25px;
		/*border-radius:4px;*/
		border:1px solid #ccc;
		font:15px/25px "微软雅黑";
	}
	.sendIfm{
		margin-top:20px;
	}
	.sendIfm input{
		margin:10px;
	}
	.btn-submit{
		width:110px;
		height:50px;
		background:#FCDB00;
		font:19px/50px "微软雅黑"; 
		text-align:center;
		margin:30px auto;
		cursor:pointer;
	}
	.btn-submit:hover{
		background:yellow;
	}
	.btn-submit+span{
		margin-left:304px;
	}
	.wrongMessage{
		display:none;
		margin-left:10px;
		color:red;
	}
	.wrong{
		color:red;
		display:none;
	}
	.right-pic{
		width:250px;
		height:300px;
		position:absolute;
		right:65px;
		top:72px;
		background:#fff;
	}
	.bottom{
		margin-top:30px;
		width:100%;
		height:300px;
		background:#fff;
	}
/**/