	*{
		margin:0px;
		padding:0px;
	}
	body{
		background:#ccc;
	}
	a{
		text-decoration:none;
	}
	input[type="text"],#btn1,#btn2{
	  box-sizing: border-box;
	  font-size:15px;
	  height:43px;
	  width:200px;
	  border-radius:4px;
	  border:1px solid #c8cccf;
	  color:#6a6f77;
	  -web-kit-appearance:none;
	  -moz-appearance: none;
	  display:block;
	  outline:0;
	  padding:0 11px;
	  text-decoration:none;
	}
	input[type="text"]:focus{
	  border:1px solid #88D1F1;
	}
	p{
		margin-top:20px;
		margin-bottom:10px;
	}
	.clearfix {zoom:1;}
	.clearfix:after {
    clear:both;
    content:'';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
	}
/*nav star*/
	.nav{
		width:100%;
		height:72px;
		z-index: 9999;
		background:#333;
	}
	.nav .w{
		width:1150px;
		margin:0 auto;
	}
	.nav .w .logo{
		width:72px;
		height:72px;
		float:left;
	}
	.nav .w span{
		float:left;
		font-family:"微软雅黑";
		line-height:72px;
		color:#000;
	}
	.nav .w ul{
		margin-left:200px;
		font-family:"微软雅黑";
		line-height:72px;
		color:#000;
	}
	.nav li{
		display: block;
		width:70px;
		height:72px;
		text-align:center;
		float:left;
	}
	.nav li a{
		display: block;
		width:70px;
		height:72px;
		text-decoration: none;
		color:#fff;
	}
	.nav li a:hover{
	   background:#ccc;
	}

	.nav .login{
		float:left;
		position:relative;
		height:72px;
		margin-left:100px;
	}
	.nav .login a{
		display:block;
		text-decoration:none;
		font:16px/72px "微软雅黑";
		text-align: center;
		color:#fff;
		width:80px;
		height:72px;
		/*border-right:1px solid #ccc;*/
		float:left;
		margin-left:13px;
	}
	.nav .login a:hover{
		background:#666;
		color:#111;
	}
	.nav .login .num{
		width:16px;
		height:16px;
		position:absolute;
		left:169px;
		top:13px;
		border-radius: 7em 7em 7em 0em;
		background:red; 
		color:#fff;
		text-align:center;
		line-height: 16px;
	}
	.nav .search{
		float:left;
		position:relative;
		margin-left:24px;
		margin-top:19px;
		width:178px;
		height:32px;
	}
	.nav #search{
		position:absolute;
		display:none;
		right:25px;
		width:0;
	}
	.nav .searchimg{
		float:left;
		position:absolute;
		left:148px;
		right:0px;
		height:32px;
		width:30px;
		cursor:pointer;
		background:#111;
	}
	.nav .navbar{
		position:relative;
		left:-320px;
	}
	.nav .nav-bar{
		
		display:none;
	}
	.nav .nav-bar .nav-bar-bottom{
		display:none;
	}
	.nav .w ul li:hover > .navbar > .nav-bar{
		display:block;
		width:1150px;
		height:40px;
		background:#ccc;
		left:0px;
		top:0px;
	}
	.nav .w ul .nav-bar li:hover > .nav-bar-bottom{
		position:absolute;
		display:block;
		width:1150px;
		height:40px;
		background:green;
		left:0px;
		top:40px;
	}
/*nav end*/
/**/
	.hide{
		display:none;
	}
	.information{
		background:#fff;
		font-family: "微软雅黑";
		width:800px;
		margin:0px 142px;
		padding:10px;
	}
	.ifm-content{
		background:#fff;
		width:800px;
		height:100%;
	}
	.sendKind{
		height:100px;
		width:100%;
	}
	.sendKind li{
		display:block;
		float:left;
		width:100px;
		height:60px;
		background:#fff;
		text-align:center;
		line-height:60px;
		border:1px solid #eee;
		margin-left:30px;
		cursor:pointer;
		border-radius:4px;
	}
	.sendKind li:hover{
		background:#eee;
	}
	.sendAdress{
		background:#eee;
		padding:8px;
		width:600px;
		height:260px;
	}
	.sendAdress .adress{
		width:160px;
		height:40px;
		border:1px solid #ccc;
		border-radius:4px;
		background:#fff;
		padding-left:10px;
		font:13px/40px "微软雅黑";
		position:relative;
	}
	.selectAdress{
		cursor:pointer;
	}
	.sendAdress .adress span{
		position:absolute;
		top:0px;
		right:0px;
	}
	/*.sendAdress .adress span#sAddress{
		left:10px;
		top:0px;
	}*/
	.sendAdress .adress span.down:after{
		content: '';
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-top: 7px solid #333;
	    position:absolute;
	    top:18px;
	    right:2px;
	}
	.sendAdress .adress span.up:after{
		content: '';
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-bottom: 7px solid #333;
	    position:absolute;
	    top:18px;
	    right:2px;
	}
	.sendAdress .adress .select-area{
		width:480px;
		height:230px;
		background:#fff;
		overflow-y:scroll;
		border:1px solid #ccc;
		position:absolute;
		left:0px;
	}
	.area-top{
		width:100%;
		height:45px;
		background:#ccc;
	}
	.area-top ul li.none{
		visibility: hidden;
	}
	.area-top ul .active{
		display:block;
		float:left;
		width:125px;
		height:45px;
		text-align: center;
		line-height: 45px;	
		background:#fff;
		border-right:1px solid #aaa;
		cursor: pointer;
	}
	.area-top ul li.selected{
		background:#ccc;
	}
	.area-content ul li{
		display:block;
		float:left;
		width:100px;
		height:40px;
		text-align:center;
		line-height:40px;
		cursor: pointer;
	}
	.area-content ul li:hover{
		background:#eee;
	}
	input.detialsAdress{
		margin-top:35px;
		width:327px;
	}
	.sendTime{
		width:180px;
		height:25px;
		/*border-radius:4px;*/
		border:1px solid #ccc;
		font:15px/25px "微软雅黑";
	}
	.sendIfm{
		margin-top:20px;
	}
	.sendIfm input{
		margin:10px;
	}
	.btn-submit{
		width:110px;
		height:50px;
		background:yellow;
		font:19px/50px "微软雅黑"; 
		text-align:center;
		margin:30px auto;
		cursor:pointer;
	}
	.btn-submit:hover{
		opacity:0.8;
	}
	.btn-submit+span{
		margin-left:304px;
	}
	.wrongMessage{
		display:none;
		margin-left:10px;
		color:red;
	}
	.wrong{
		color:red;
		display:none;
	}
	.right-pic{
		width:250px;
		height:300px;
		position:absolute;
		right:65px;
		top:72px;
		background:#fff;
	}
	.bottom{
		margin-top:30px;
		width:100%;
		height:300px;
		background:#fff;
	}
/**/