	*{
		margin:0px;
		padding:0px;
	}
	body{
		background:#ddd;
	}
	a{
		text-decoration:none;
	}
	input[type="text"],#btn1,#btn2{
	  box-sizing: border-box;
	  font-size:15px;
	  height:43px;
	  width:200px;
	  border-radius:4px;
	  border:1px solid #c8cccf;
	  color:#6a6f77;
	  -web-kit-appearance:none;
	  -moz-appearance: none;
	  display:block;
	  outline:0;
	  padding:0 11px;
	  text-decoration:none;
	}
	input[type="text"]:focus{
	  border:1px solid #88D1F1;
	}
	.clearfix:after{
	   content:".";
	   display:block;
	   height:0;
	   clear:both;
	   visibility:hidden;
  	}
	.clearfix{zoom:1;}
	/*nav star*/
	.nav{
		width:100%;
		height:72px;
		z-index: 9999;
		background:#333;
	}
	.nav .w{
		width:1150px;
		margin:0 auto;
	}
	.nav .w .logo{
		width:72px;
		height:72px;
		float:left;
	}
	.nav .w span{
		float:left;
		font-family:"微软雅黑";
		line-height:72px;
		color:#000;
	}
	.nav .w ul{
		margin-left:200px;
		font-family:"微软雅黑";
		line-height:72px;
		color:#000;
	}
	.nav li{
		display: block;
		width:70px;
		height:72px;
		text-align:center;
		float:left;
	}
	.nav li a{
		display: block;
		width:70px;
		height:72px;
		text-decoration: none;
		color:#fff;
	}
	.nav li a:hover{
	   background:#ccc;
	}

	.nav .login{
		float:left;
		position:relative;
		height:72px;
		margin-left:100px;
	}
	.nav .login a{
		display:block;
		text-decoration:none;
		font:16px/72px "微软雅黑";
		text-align: center;
		color:#fff;
		width:80px;
		height:72px;
		/*border-right:1px solid #ccc;*/
		float:left;
		margin-left:13px;
	}
	.nav .login a:hover{
		background:#666;
		color:#111;
	}
	.nav .login .num{
		width:16px;
		height:16px;
		position:absolute;
		left:169px;
		top:13px;
		border-radius: 7em 7em 7em 0em;
		background:red; 
		color:#fff;
		text-align:center;
		line-height: 16px;
	}
	.nav .search{
		float:left;
		position:relative;
		margin-left:24px;
		margin-top:19px;
		width:178px;
		height:32px;
	}
	.nav #search{
		position:absolute;
		display:none;
		right:25px;
		width:0;
	}
	.nav .searchimg{
		float:left;
		position:absolute;
		left:148px;
		right:0px;
		height:32px;
		width:30px;
		cursor:pointer;
		background:#111;
	}
	.nav .navbar{
		position:relative;
		left:-320px;
	}
	.nav .nav-bar{
		
		display:none;
	}
	.nav .nav-bar .nav-bar-bottom{
		display:none;
	}
	.nav .w ul li:hover > .navbar > .nav-bar{
		display:block;
		width:1150px;
		height:40px;
		background:#ccc;
		left:0px;
		top:0px;
	}
	.nav .w ul .nav-bar li:hover > .nav-bar-bottom{
		position:absolute;
		display:block;
		width:1150px;
		height:40px;
		background:green;
		left:0px;
		top:40px;
	}
/*nav end*/
	.content{
		width:1150px;
		margin:0px auto;
		background:#ccc;
	}
	.products{

	}
	.left{
		float:left;
		width:300px;
		height:600px;
		background:#fff;
	}
	.right{
		float:left;
		width:799px;
		height:600px;
		margin-left:25px;
		background:#fff;
		padding:13px;
	}
	.memory.selected dd{
		visibility:hidden;
	}
	.memory .memorykind li{
		display:block;
		width:100px;
		height:40px;
		margin-left:15px;
		float:left;
		background:#ccc;
		cursor:pointer;
	}
	.memory .selkind span:nth-child(2){
		visibility:hidden;
	}
	.memory.selected .selkind span:nth-child(2){
		visibility:visible;
	}
	.memory .selkind i{
		visibility:hidden;
	}
	.memory.selected .selkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	h2{
		border-bottom:1px solid #e2e2e2;
	}
	.screen{
		display:none;
	}
	.screen.finish{
		display:block;
		overflow:hidden;
	}
	.use li{
		display:block;
		width:250px;
		height:40px;
		margin-left:15px;
		float:left;
		background:#ccc;
		cursor:pointer;
		margin-top:10px;
	}
	.screen .scrkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.screen .scrkind span:nth-child(2){
		visibility:hidden;
	}
	.screen.selected .scrkind span:nth-child(2){
		visibility:visible;
	}
	.screen .scrkind i{
		visibility:hidden;
	}
	.screen.selected .scrkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.screen.selected dd{
		display:none;
	}
	/**/
	.sborder{
		display:none;
	}
	.sborder.finish{
		display:block;
		overflow:hidden;
	}
	.sborder .borkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.sborder .borkind span:nth-child(2){
		visibility:hidden;
	}
	.sborder.selected .borkind span:nth-child(2){
		visibility:visible;
	}
	.sborder .borkind i{
		visibility:hidden;
	}
	.sborder.selected .borkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.sborder.selected dd{
		display:none;
	}
	/**/
	.surface{
		display:none;
	}
	.surface.finish{
		display:block;
		overflow:hidden;
	}
	.surface .surkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.surface .surkind span:nth-child(2){
		visibility:hidden;
	}
	.surface.selected .surkind span:nth-child(2){
		visibility:visible;
	}
	.surface .surkind i{
		visibility:hidden;
	}
	.surface.selected .surkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.surface.selected dd{
		display:none;
	}
	/**/

	.service{
		display:none;
	}
	.service.finish{
		display:block;
		overflow:hidden;
	}
	.service .serkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.service .serkind span:nth-child(2){
		visibility:hidden;
	}
	.service.selected .serkind span:nth-child(2){
		visibility:visible;
	}
	.service .serkind i{
		visibility:hidden;
	}
	.service.selected .serkind i{
		visibility:visible;
		float:right;
		margin-right:10px;
		cursor:pointer;
	}
	.service.selected dd{
		display:none;
	}
	.evalue{
		width:110px;
		height:50px;
		background:yellow;
		font:19px/50px "微软雅黑"; 
		text-align:center;
		margin:30px auto;
		cursor:pointer;
		display:none;
	}
	.evalue:hover{
		background:#FCDB00;
	}