<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycle.manage.mapper.ItemCatDescMapper">

	<select id="queryItemCatDescList" resultType="ItemCatDesc">
		SELECT * FROM tb_item_cat_desc WHERE cat_id = #{cat_id} ORDER BY updated DESC
	</select>

</mapper>
